@if (inputConfig(); as inp) {
  <!-- TODO: Handle array too. It is not handled yet -->
  @if (inp.fieldType === "GROUP") {
    <div [formGroupName]="inp.key" [class]="inp.class" class="group-wrapper">
      @for (item of inp.children; track item.key) {
        <app-field-builder [inputConfig]="item" />
      }
    </div>
  } @else {
    @if (inputConfig().type === "TEXT" || inputConfig().type === "NUMBER") {
      <app-general-form-field [inputConfig]="inputConfig()" />
    } @else {
      @switch (inp.type) {
        @case ("SLIDER") {
          <app-slider-form-field [inputConfig]="inputConfig()" />
        }
        @case ("SELECT") {
          <app-select-form-field [inputConfig]="inputConfig()" />
        }
        @case ("DATE") {
          <app-date-form-field [inputConfig]="inputConfig()" />
        }
      }
    }
  }
}
