@if (fieldConfig(); as inp) {
  <!-- TODO: Handle array too. It is not handled yet -->
  @if (inp.fieldType === "GROUP") {
    <app-group-form-field [fieldConfig]="fieldConfig()" />
  } @else {
    @if (fieldConfig().type === "TEXT" || fieldConfig().type === "NUMBER") {
      <app-general-form-field [fieldConfig]="fieldConfig()" />
    } @else {
      @switch (inp.type) {
        @case ("SLIDER") {
          <app-slider-form-field [fieldConfig]="fieldConfig()" />
        }
        @case ("SELECT") {
          <app-select-form-field [fieldConfig]="fieldConfig()" />
        }
        @case ("DATE") {
          <app-date-form-field [fieldConfig]="fieldConfig()" />
        }
      }
    }
  }
}
