@if (input(); as inp) {
  <!-- TODO: Handle array too. It is not handled yet -->
  @if (inp.fieldType === "GROUP") {
    <div [formGroupName]="key()">
      @for (item of inp.children; track item.key) {
        <app-input-builder [input]="item" [key]="item.key" />
      }
    </div>
  } @else {
    @if (isGeneralInput()) {
      <mat-form-field>
        <mat-label>{{ inp.label ?? inp.key }}</mat-label>
        <input
          matInput
          [type]="inp.type?.toLowerCase() ?? 'text'"
          [name]="key()"
          [formControlName]="key()"
        />
      </mat-form-field>
    } @else {
      @switch (inp.type) {
        @case ("SLIDER") {
          <div style="width: fit-content">
            <div style="display: flex; justify-content: space-between">
              <span> {{ inp.label ?? inp.key }} </span>
              <span> {{ slider.value }} </span>
            </div>
            <mat-slider
              class="example-margin"
              [max]="inp.max ?? 100"
              [min]="inp.min ?? 0"
              [step]="inp.step ?? 1"
              [discrete]="true"
            >
              <input matSliderThumb [formControlName]="key()" #slider />
            </mat-slider>
          </div>
        }
        @case ("SELECT") {
          <mat-form-field>
            <mat-label> {{ inp.label ?? inp.key }} </mat-label>
            <mat-select [formControlName]="key()" required>
              @for (item of inp.options; track item.value) {
                <mat-option [value]="item.value">{{ item.label }} </mat-option>
              }
            </mat-select>
          </mat-form-field>
        }
        @case ("DATE") {
          <mat-form-field>
            <mat-label> {{ inp.label ?? inp.key }} </mat-label>
            <input
              matInput
              [formControlName]="key()"
              [matDatepicker]="picker"
            />
            <mat-datepicker-toggle matIconSuffix [for]="picker" />
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        }
      }
    }
  }
}
